* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.top {
  width: 100%;
  height: 100%;
  background-color: #181f45;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 55;
}

.top_f {
  width: 100%;
  height: 50%;
}

.top_img {
  background-image: url(../Images/top.png);
  width: 90%;
  height: 90%;
  margin: 5% auto 0;
}

.main {
  background: #10c49c;
  height: 40%;
  width: 63%;
  padding: 0 1.5rem;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
}

.main h1 {
  font-size: 6.2rem;
  font-weight: 900;
  text-align: center;
  -webkit-text-stroke: 3px #181f45;
  text-stroke: 3px #181f45;
  padding-top: 8%;
}

.main span {
  color: #181f45;
}

.text {
  background-image: url(../Images/top.png);
  background-repeat: no-repeat;
  color: transparent;
  background-position: 100% 88%;
  text-align: center;
  -webkit-background-clip: text;
  font-family: 'Raleway', sans-serif;
}

.main p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: #181f45;
  text-align: center;
}

.menu {
  width: 100%;
  height: 50%;
  position: relative;
}

.menu img {
  margin: 0 auto;
  max-width: 70%;
}

.menu>div {
  text-align: center;
  position: absolute;
  top: 60%;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu ul li {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  padding: .3rem 1rem;
  margin: 0 .5rem;
  color: #10c49c;
  background-color: #181f45;
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
}

.menu ul li:hover,
.menu ul li:active{
  background-image: url(../Images/top.png);
  background-repeat: no-repeat;
  color: transparent;
  background-position: 20% 50%;
  text-align: center;
  -webkit-background-clip: text;
  font-family: 'Raleway', sans-serif;
}

.about {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #145f77;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.image02 {
  background-image: url(../Images/about01.png);
  background-position: center;
  width: 85%;
  height: 110px;
  margin: 0 auto;
}

.header {
  padding-top: 3rem;
  text-align: center;
  width: 20rem;
  margin: 0 auto;
  background-color: #1284a5;
}

.about h1 {
  display: inline-block;
  font-size: 7rem;
  font-weight: 900;
}

.about span {
  font-size: 4rem;
  font-weight: 900;
  color: #145f77;
}

.a_container {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3% auto 1%;
  height: 50vh;
}


.prof01 img {
  max-width: 85%;
  margin: 2rem;
}

.a_wrapper {
  width: 54rem;
  margin: .5rem 0 0 3rem;
  background-color: rgb(134, 151, 204);
  padding: 2rem 3rem;
  font-size: 1.5rem;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.a_wrapper h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.a_wrapper p {
  line-height: 1.6;
}

.text02 {
  background-image: url(../Images/about02.png);
  background-repeat: no-repeat;
  color: transparent;
  background-position: 10% 50%;
  text-align: center;
  -webkit-background-clip: text;
  font-family: 'Raleway', sans-serif;
  -webkit-text-stroke: 3px #145f77;
  text-stroke: 3px #145f77;
}

.about table {
  background-color: #1284a5;
  font-size: 1.4rem;
  font-family: 'Sawarabi Gothic', sans-serif;
  padding: 1rem;
}

.a_table {
  margin: 3% auto;
}

.a_table table {
  width: 115%;
}

.a_table table th {
  font-weight: normal;
  width: 30%;
  background-color: rgb(134, 151, 204);
}

.a_table table td {
  padding: .3rem 3rem;
  background-color: rgb(134, 151, 204);
}

.text03 {
  background-image: url(../Images/skill.png);
  background-repeat: no-repeat;
  color: transparent;
  background-position: 10% 50%;
  text-align: center;
  -webkit-background-clip: text;
  font-family: 'Raleway', sans-serif;
  -webkit-text-stroke: 3px #916496;
  text-stroke: 3px #916496;
}

.skill {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background: #f1564b;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.s_flex {
  width: 100%;
  height: 50%;
  position: relative;
}

.s_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 90%;
}

.header03 {
  text-align: center;
}

.h_skill {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(243, 201, 14, 0.9);
  width: 100%;
  height: 100%;
  line-height: 1.6;
}

.skill h1 {
  display: inline-block;
  font-size: 7rem;
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
}

.skill span {
  font-size: 4rem;
  font-weight: 900;
  color: #916496;
}

.s_wrapper {
  width: 25%;
  background: rgb(243, 201, 14);
  margin: .5rem 1rem;
  padding: 1rem 1.5rem;
}

.s_wrapper:first-child {
  background-image: url(../Images/skill.png);
}

.s_wrapper h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.3rem;
  color: #442a52;
  text-align: center;
}

.s_rate {
  text-align: center;
}

.s_wrapper img {
  padding: .5rem .2rem 0;
}

.s_wrapper p {
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 1rem;
}


.vision {
  width: 50rem;
  background: rgb(243, 201, 14);
  border-radius: 20px;
  padding: 0 0 2rem 3rem;
  margin: 0 auto;
}

.vision ul {
  list-style: none;
}

.vision ul li {
  font-size: 1.8rem;
  font-family: 'Sawarabi Gothic', sans-serif;
  background-image: url(../Images/rate_pink.svg);
  background-repeat: no-repeat;
  background-position: left 2px;
  padding: 0 2.8rem;
  margin: 1rem 0;
  color: #000;
}

.vision-img {
  display: flex;
  align-items: center;
  background-image: url(../Images/skill.png);
  background-position: center;
  width: 70%;
  height: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.works {
  background-color: rgb(23, 179, 166);
  width: 100%;
}

.header04 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-top: 2rem;
  width: 90%;
  margin: auto;
}

.text04 {
  background-image: url(../Images/work.png);
  background-repeat: no-repeat;
  color: transparent;
  background-position: 10% 50%;
  text-align: center;
  -webkit-background-clip: text;
  font-family: 'Raleway', sans-serif;
  -webkit-text-stroke: 3px #08012b;
  text-stroke: 3px #08012b;
}

.works h1 {
  display: inline-block;
  font-size: 7rem;
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
}

.works span {
  font-size: 4rem;
  font-weight: 900;
  color: #08012b;
}

.works p {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Sawarabi Gothic', sans-serif;
  padding: 0.5rem;
}

.w_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 2%;
  padding-bottom: 5rem;
}

.w_wrapper {
  width: 40%;
  text-align: center;
  margin: 1rem;

}

.w_explain h2 {
  color: #08012b;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 1.7rem;
  font-weight: 900;
  padding: 1rem 0 0 .6rem;
}

.w_image {
  background-image: url(../Images/work.png);
  padding: 1rem 0;
  text-align: center;
}

.w_wrapper img {
  max-width: 100%;
}

.w_explain {
  margin: 1rem auto 0;
  padding-bottom: 3rem;
  width: 90%;
}

.w_explain p {
  font-size: 1.4rem;
  text-align: left;
  line-height: 2rem;
}

.w_wrapper a:hover {
  opacity: 0.9;
}

.w_omake {
  width: 60%;
  margin-top: 5rem;
}

.w_omake img {
  width: 45%;
  margin: 1rem;
}

footer {
  width: 100%;
  padding: 3rem;
}

footer ul {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 1rem;
  color: #181f45;
}

footer ul li:first-child {
  font-size: 2.5rem;
  padding: .3rem 1rem;
}

footer ul li {
  font-size: 1.5rem;
  padding: 1rem;
}
/*SCROLL*/
#scroll_btn {
  position:fixed;
  bottom: 13px;
  right: 5px;
  width: 30px;
  height: 100px;
  text-align: center;
  z-index: 50;
}

.s_top{
  background-image: url(../Images/top.png);
  background-position: 7%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: .5rem;
  transition: all 0.5s ease-in-out;
}

.s_top:hover{
  background-color: #181f45;
  background-image: none;
  border-radius: 50%;
}
.s_about{
  background-image: url(../Images/about01.png);
  background-position: 30%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: .5rem;
  transition: all 0.5s ease-in-out;
}
.s_about:hover{
  background-color: orangered;
  background-image: none;
  border-radius: 50%;
}

.s_skill{
  background-image: url(../Images/skill.png);
  background-position: 33%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: .5rem;
  transition: all 0.5s ease-in-out;
}

.s_skill:hover{
  background-color: rgb(243, 201, 14);
  background-image: none;
  border-radius: 50%;
}

.s_works{
  background-image: url(../Images/work.png);
  background-position: 80%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: .5rem;
  transition: all .2s ease-in-out;
}

.s_works:hover{
  background-color: rgb(250, 112, 250);
  background-image: none;
  border-radius: 50%;
}


#scroll_btn a {
  width: 21px;
  height: 21px;
  border: 1px solid rgb(32, 32, 32);
  border-radius: 50%;
  margin-left: .2rem;
}


@media(max-width: 1024px) {

  .top,
  .about,
  .skill,
  .works,
  footer {
    overflow-x: hidden;
  }



  .a_container {}

  .a_table {
    margin: auto;
    height: 18vh;
  }



}

@media(max-width: 767px) {

  .about,
  .skill {
    height: auto;
  }

  .main {
    width: 100%;
  }

  .main h1 {
    font-size: 5.5rem;
  }

  .about {
    height: auto;
  }

  .a_container {
    display: block;
    margin: 1% auto;
    height: auto;
  }

  .a_wrapper {
    width: 90%;
    margin: 2rem auto;
  }

  .a_table {
    margin: 2rem auto;
  }

  .prof01 {
    text-align: center;
    margin: 0 auto;
  }

  .a_table table {
    width: 100%;
  }

  .a_table table td {
    padding: .3rem 1rem;
    text-align: center;
  }

  .a_table table th {
    width: 100px;
  }

  .skill {
    height: auto;
  }

  .s_flex {
    display: block;
    height: auto;
    position: static;
  }

  .s_container {
    display: block;
    position: static;
  }

  .s_wrapper:first-child {
    width: 70%;
  }

  .s_wrapper {
    width: 60%;
    margin: 1.5rem auto;
  }

  .vision {
    width: 80%;
    bottom: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .vision ul li {
    font-size: 1.7rem;
  }

  .vision-img {
    width: 100%;
    margin-bottom: 5rem;
    margin-top: 2rem;
    position: static;
  }

  .w_container {
    display: block;
    margin-top: 5%;
  }

  .w_wrapper {
    width: 90%;
    margin: auto;
  }

  .w_omake {
    margin: auto;
    width: 80%;
  }

  .w_omake img {
    width: 90%;
  }

  footer ul{
    display: block;
  }

  footer ul li:first-child{
    display: inline-block;
  }
  footer ul li:nth-child(2){
    display: inline-block;
  }
  footer ul li:nth-child(3){
    display: inline-block;
  }
  footer ul li:nth-child(4){
    display: inline-block;
  }

}

@media(max-width: 320px) {
  .main {
    width: 100%;
  }

  .main h1 {
    font-size: 5.5rem;
  }
}
